# Microsoft Agent Framework - use latest versions
agent-framework>=1.0.0b260107

# Azure Monitoring - Use Distro for automatic instrumentation
azure-monitor-opentelemetry

# Azure Identity
azure-identity

# Environment
python-dotenv

# Weather API
requests
